* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

.container {
  /* width: 100%; */
}

.header {
  width: 1161px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  margin-left: 135px;
  background-color: #f6ebda;
}

.header-logo {
  width: 150px;
  height: 30;
}

.header-logo:hover {
  opacity: 60%;
  transition: 0.6s;
}

.header-container {
}

.header-nav {
  ul {
    display: flex;
    gap: 32px;
  }
  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #000000;
    }
    a:hover {
      color: #ff902b;
      transition: 0.3s;
    }
  }
}
