* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 1161px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  margin-left: 135px;
  background-color: #f6ebda;
}

.header-logo {
  width: 150px;
  height: 30;
}

.header-logo:hover {
  opacity: 60%;
  transition: 0.6s;
}

.header-nav {
  ul {
    display: flex;
    gap: 32px;
  }
  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #000000;
    }
    a:hover {
      color: #ff902b;
      transition: 0.3s;
    }
  }
}

.main {
}
.hero {
  background-color: #f6ebda;
  /* background-image: url(../images/hero-image.png); */
  /* background-repeat: no-repeat; */
}
.hero-edit {
  display: flex;
  gap: 176px;
  img {
    width: 527px;
    height: 416px;
  }
}
.hero__title {
  h2 {
    width: 498px;
    height: 144px;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
  }
}
